{% extends 'gcna/base2.html' %}

{% block content%}

<style>
    .menu {
      display: flex;
      list-style: none;
      padding: 0;
    }
  
    .menu li {
      margin-right: 20px;
    }
  
    .dropdown {
      position: relative;
      display: inline-block;
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  
    .dropdown-content.show {
      display: block;
      opacity: 1;
    }
  
    .dropdown-content .container {
      padding: 15px;
    }
  
    .dropdown button {
      cursor: pointer;
    }
  </style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var myForm = document.getElementById('myForm');
    
        myForm.addEventListener('submit', function(event) {
  
            event.preventDefault();
            var data = new FormData(event.target);
            saveDataToIndexedDB(data);
        });
    
        function saveDataToIndexedDB(data) {
    // Exclude csrfmiddlewaretoken from being saved to IndexedDB
    data.delete('csrfmiddlewaretoken');
  
    var request = indexedDB.open('GCNA', 2);
  
    request.onsuccess = function(event) {
        var db = event.target.result;
        var transaction = db.transaction('Mace_Dispatched', 'readwrite');
        var objectStore = transaction.objectStore('Mace_Dispatched');
  
        var obj = {};
        for (var pair of data.entries()) {
            obj[pair[0]] = pair[1];
        }
  
        // Get the highest id in the object store
        var highestIdRequest = objectStore.openCursor(null, 'prev');
        highestIdRequest.onsuccess = function(event) {
            var cursor = event.target.result;
            if (cursor) {
                obj.id = cursor.key + 1;
            } else {
                obj.id = 1; // This is the first item
            }
  
            var request = objectStore.put(obj);
  
            request.onsuccess = function() {
                console.log('Data added to IndexedDB');
                transferIndexedDBData(); // Transfer data to Django after saving to IndexedDB
            };
  
            request.onerror = function() {
                console.error('Error adding data to IndexedDB');
            };
        };
    };
  
    request.onerror = function(event) {
        console.error('Error opening IndexedDB', event);
    };
  }
        function transferIndexedDBData() {
            var request = indexedDB.open('GCNA', 2);
        
            request.onsuccess = function(event) {
                var db = event.target.result;
                var transaction = db.transaction('Mace_Dispatched', 'readonly');
                var objectStore = transaction.objectStore('Mace_Dispatched');
                var getRequest = objectStore.getAll();
        
                getRequest.onsuccess = function(event) {
                    var data = event.target.result;
                    data.forEach(function(item) {
                        // sendDataToDjango(item);
                    });
                    window.location.reload();

                };
            };
        
            request.onerror = function(event) {
                console.error('Error opening IndexedDB', event);
            };
        }
    
        function sendDataToDjango(item) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/check-and-add/', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        console.log('Entry added successfully.');
                    } else {
                        console.error('Error adding entry:', xhr.statusText);
                    }
                }
            };
            xhr.send(JSON.stringify(item));
        }
    });
  </script>


<script>


    var request = indexedDB.open('Signin', 1);
   
    request.onsuccess = function(event) {
        var db = event.target.result;
        var transaction = db.transaction('verify', 'readonly');
        var store = transaction.objectStore('verify');
        var getRequest = store.get(1); // Assuming you want to get the first entry
   
        getRequest.onsuccess = function(event) {
            var data = event.target.result;
            if (data) {
                // Set the values in the form
                document.querySelector('[name="Worker_ID_No"]').value = data.Worker_ID_No;
                document.querySelector('[name="Worker_ID_Name"]').value = data.Name;
            }
        };
    };
   </script>
  



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>










  <script>
      $(document).ready(function() {
      
          $('#id_MACE_1, #id_MACE_2, #id_MACE_3, #id_STATION').on('change', function() {
              var Date = new String($('#id_DATE_OF_PURCHASE').val());
      
              var station = new String($('#id_STATION').val());
              var mace1 = new String($('#id_DATE_OF_PICK_UP').val());
              var mace2 = new String($('#id_DATE_OF_PICK_UP').val());
              var mace3 = new String($('#id_DATE_OF_PICK_UP').val());
  
              $('#id_BATCH_CODE_M1').val(station + Date + "M1"); 
              $('#id_BATCH_CODE_M2').val(station + Date + "M2"); 
              $('#id_BATCH_CODE_M3').val(station + Date + "M3"); 
          });
      
      });
      </script>
      















      <script>
        document.addEventListener('DOMContentLoaded', function() {
            var myForm = document.getElementById('myForm');
      
            myForm.addEventListener('submit', function(event) {
                event.preventDefault();
                var data = new FormData(event.target);
      
                // Add selected Vehicle Number to form data
                var vehicleNumber = document.getElementById('vehicleSelect').value;
                data.append('Vehicle_number', vehicleNumber);
      
                saveDataToIndexedDB(data);
            });
      
            function saveDataToIndexedDB(data) {
                data.delete('csrfmiddlewaretoken');
                var request = indexedDB.open('GCNA', 2);
      
                request.onsuccess = function(event) {
                    var db = event.target.result;
                    var transaction = db.transaction('Mace_Dispatched', 'readwrite');
                    var objectStore = transaction.objectStore('Mace_Dispatched');
      
                    var obj = {};
                    for (var pair of data.entries()) {
                        obj[pair[0]] = pair[1];
                    }
      
                    var highestIdRequest = objectStore.openCursor(null, 'prev');
                    highestIdRequest.onsuccess = function(event) {
                        var cursor = event.target.result;
                        obj.id = cursor ? cursor.key + 1 : 1;
                        var request = objectStore.put(obj);
      
                        request.onsuccess = function() {
                            console.log('Data added to IndexedDB');
                            transferIndexedDBData();
                        };
      
                        request.onerror = function() {
                            console.error('Error adding data to IndexedDB');
                        };
                    };
                };
      
                request.onerror = function(event) {
                    console.error('Error opening IndexedDB', event);
                };
            }
      
            function transferIndexedDBData() {
                var request = indexedDB.open('GCNA', 2);
      
                request.onsuccess = function(event) {
                    var db = event.target.result;
                    var transaction = db.transaction('Mace_Dispatched', 'readonly');
                    var objectStore = transaction.objectStore('Mace_Dispatched');
                    var getRequest = objectStore.getAll();
      
                    getRequest.onsuccess = function(event) {
                        var data = event.target.result;
                        data.forEach(function(item) {
                            // sendDataToDjango(item);
                        });
                        window.location.reload();
                    };
                };
      
                request.onerror = function(event) {
                    console.error('Error opening IndexedDB', event);
                };
            }
      
            function sendDataToDjango(item) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/check-and-add/', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            console.log('Entry added successfully.');
                        } else {
                            console.error('Error adding entry:', xhr.statusText);
                        }
                    }
                };
                xhr.send(JSON.stringify(item));
            }
      
            var request = indexedDB.open('Signin', 1);
      
            request.onsuccess = function(event) {
                var db = event.target.result;
                var transaction = db.transaction('verify', 'readonly');
                var store = transaction.objectStore('verify');
                var getRequest = store.get(1);
      
                getRequest.onsuccess = function(event) {
                    var data = event.target.result;
                    if (data) {
                        document.querySelector('[name="Worker_ID_No"]').value = data.Worker_ID_No;
                        document.querySelector('[name="Worker_ID_Name"]').value = data.Name;
                    }
                };
            };
      
            $(document).ready(function() {
                $('#id_MACE_1, #id_MACE_2, #id_MACE_3, #id_STATION').on('change', function() {
                    var date = new String($('#id_DATE_OF_PURCHASE').val());
                    var station = new String($('#id_STATION').val());
      
                    $('#id_BATCH_CODE_M1').val(station + date + "M1");
                    $('#id_BATCH_CODE_M2').val(station + date + "M2");
                    $('#id_BATCH_CODE_M3').val(station + date + "M3");
                });
            });
      
            function populateSelect() {
                var request = indexedDB.open('GCNA', 2);
      
                request.onerror = function(event) {
                    console.error("IndexedDB error:", event.target.error);
                };
      
                request.onsuccess = function(event) {
                    var db = event.target.result;
                    var selectDiv = document.getElementById('selectContainer');
                    var select = document.createElement('select');
                    select.id = 'vehicleSelect';
                    select.classList.add('form-control');
                    select.innerHTML = '';
      
                    var transaction = db.transaction('Vehicle_Inspection', 'readonly');
                    var objectStore = transaction.objectStore('Vehicle_Inspection');
                    var vehicleNumbers = [];
      
                    transaction.oncomplete = function() {
                        selectDiv.appendChild(select);
                    };
      
                    objectStore.openCursor().onsuccess = function(event) {
                        var cursor = event.target.result;
                        if (cursor) {
                            var vehicleNumber = cursor.value.Vehicle_number;
                            if (!vehicleNumbers.includes(vehicleNumber)) {
                                vehicleNumbers.push(vehicleNumber);
                                var option = document.createElement('option');
                                option.textContent = vehicleNumber;
                                option.value = vehicleNumber;
                                select.appendChild(option);
                            }
                            cursor.continue();
                        }
                    };
                };
            }
      
            document.addEventListener('DOMContentLoaded', function() {
              populateSelect();
            });
        });
      </script>
      















  <!-- BATCH_CODE_M1
  BATCH_CODE_M2
  BATCH_CODE_M3
 -->

<!-- IMplement previous entry traceability -->
	<center>
<br>
	{% if submitted %}
		Entry successfully added to database!!!
	{% else %}
		<form action="" method="POST" id="myForm"  enctype="multipart/form-data" style=" background-color: #e4e4e4;

    margin: 1px auto;
    font-family: Raleway;
    padding: 10px;
    width: 55%;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);">
  <h6>Document No. GCNA-GMP</h6>
<h6>Document Title:  </h6>
<h6>Date Issued:  </h6>
<h6>Version:  </h6>
		{% csrf_token %}








    <div class="card">
 
  <div class="card-body">

  </h5>
    <p class="card-text">
        <table id="vertical-1" class="table table-hover table-light">

    <h1>Dispatched Mace Form</h1>
 
		{% csrf_token %}
{% comment %} 

{{form.Nutmeg_ID_No}}
{{form.Nutmeg_ID_No}} 
{{ form.Worker_ID_No }}
{{ form.Worker_ID_Name }}

{% endcomment %}


        <tr>
            <th>STATION</th>
            <td>{{ form.STATION }}</td>
        </tr>
    <tr>
            <th>DATE OF PURCHASE</th>
            <td>{{ form.DATE_OF_PURCHASE }}</td>
        </tr>

        <tr>
          <th>PLACE OF PURCHASE</th>
          <td>{{ form.PLACE_OF_PURCHASE }}</td>
      </tr>

        <tr>
            <th>TOTAL # OF FARMERS</th>
            <td>{{ form.TOTAL_NUM_OF_FARMERS }}</td>
        </tr>
    <tr>
            <th>TOTAL LBS Mace BOUGHT</th>
            <td>{{ form.TOTAL_LBS_NUTMEG_BOUGHT }}</td>
        </tr>

    
  

        <tr>
            <th># OF BAGS</th>
            <td>{{ form.NUM_OF_BAGS }}</td>
        </tr>

        <tr>
            <th>Quantity of Mace 1</th>
            <td>{{ form.MACE_1 }}</td>
        </tr>


        <tr>
            <th>Mace 1 Batch Code</th>
            <td>{{ form.BATCH_CODE_M1 }}</td>
        </tr>



        <tr>
            <th>Quantity of Mace 2</th>
            <td>{{ form.MACE_2 }}</td>
        </tr>




        <tr>
            <th>Mace 2 Batch Code</th>
            <td>{{ form.BATCH_CODE_M2 }}</td>
        </tr>



        <tr>
            <th>Quantity of Mace 3</th>
            <td>{{ form.MACE_3 }}</td>
        </tr>






 
        <tr>
            <th>Mace 3 Batch Code</th>
            <td>{{ form.BATCH_CODE_M3 }}</td>
        </tr>  



        <tr>
            <th>Vehicle Number</th>
            <td><div id="selectContainer"></div></td>
            <td> <a type="button" id="openModalBtn" class="btn btn-primary">+</a type="button"></td>

        </tr>


        <tr>
            <th>Delivery Advice number</th>
            <td>{{ form.Delivery_advice_num }}</td>
        </tr>




</table>




        <tr>
            <th><a href="{% url 'table' %}" class="btn btn-secondary">Return</a></th>
        </tr>


            <th><a type="submit" href="{% url 'add_Dispatch_Dried_0' %}" role="button" class="btn btn-primary">Previous</a></th>		
		<input type="submit" name="" value="submit" class="btn btn-success">
		

            <th><a type="submit" href="{% url 'add_Cracking_0' %}" role="button" class="btn btn-primary">Next</a></th> 



 
		</form>

	{% endif %}











	</center>




    
    <script>// Function to populate the select element with options
        function populateSelect() {
            var request = indexedDB.open('GCNA', 2);
        
            request.onerror = function(event) {
                console.error("IndexedDB error:", event.target.error);
            };
        
            request.onsuccess = function(event) {
                var db = event.target.result;
                var selectDiv = document.getElementById('selectContainer'); // ID of the div where select will be added
        
                // Create select element with form-control class
                var select = document.createElement('select');
                select.id = 'vehicleSelect';
                select.classList.add('form-control'); // Add form-control class
        
                // Clear previous options
                select.innerHTML = '';
        
                var vehicleNumbers = [];
        
                // Open a new transaction for object store
                var transaction = db.transaction('Vehicle_Inspection', 'readonly');
                var objectStore = transaction.objectStore('Vehicle_Inspection');
        
                transaction.oncomplete = function() {
                    // Append select to the div
                    selectDiv.appendChild(select);
                };
        
                objectStore.openCursor().onsuccess = function(event) {
                    var cursor = event.target.result;
                    if (cursor) {
                        var vehicleNumber = cursor.value.Vehicle_number;
                        if (!vehicleNumbers.includes(vehicleNumber)) {
                            vehicleNumbers.push(vehicleNumber);
                            var option = document.createElement('option');
                            option.textContent = vehicleNumber;
                            option.value = vehicleNumber;
                            select.appendChild(option);
                        }
                        cursor.continue();
                    }
                };
            };
        }
        
        // Function to trigger the populateSelect function after a delay
        // function triggerPopulateSelectWithDelay() {
        //     setTimeout(populateSelect, 5000); // 5000 milliseconds = 5 seconds
        // }
        
        // Call the trigger function when the page loads
        document.addEventListener('DOMContentLoaded', function() {
          populateSelect();
        });
        
        </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var myForm = document.getElementById('form1');
        var modal = document.getElementById('formModal');
        var openModalBtn = document.getElementById('openModalBtn');
        var closeModalBtn = document.getElementsByClassName('close')[0];
  
        openModalBtn.addEventListener('click', function() {
            modal.style.display = 'block';
        });
  
        closeModalBtn.addEventListener('click', function() {
            modal.style.display = 'none';
        });
  
        window.addEventListener('click', function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        });
  
        myForm.addEventListener('submit', function(event) {
            event.preventDefault();
            var data = new FormData(event.target);
            saveDataToIndexedDB(data);
        });
  
        function saveDataToIndexedDB(data) {
            data.delete('csrfmiddlewaretoken');
            data.delete('initial-entryCheck');
  
            var request = indexedDB.open('GCNA', 2);
  
            request.onsuccess = function(event) {
                var db = event.target.result;
                var transaction = db.transaction('Vehicle_Inspection', 'readwrite');
                var objectStore = transaction.objectStore('Vehicle_Inspection');
  
                var obj = {};
                for (var pair of data.entries()) {
                    obj[pair[0]] = pair[1];
                }
  
                var highestIdRequest = objectStore.openCursor(null, 'prev');
                highestIdRequest.onsuccess = function(event) {
                    var cursor = event.target.result;
                    if (cursor) {
                        obj.id = cursor.key + 1;
                    } else {
                        obj.id = 1;
                    }
  
                    var request = objectStore.put(obj);
  
                    request.onsuccess = function() {
                        console.log('Data added to IndexedDB');
                        transferIndexedDBData();
                        populateSelect_second();
                    };
  
                    request.onerror = function() {
                        console.error('Error adding data to IndexedDB');
                    };
                };
            };
  
            request.onerror = function(event) {
                console.error('Error opening IndexedDB', event);
            };
        }
  
        function transferIndexedDBData() {
            var request = indexedDB.open('GCNA', 2);
  
            request.onsuccess = function(event) {
                var db = event.target.result;
                var transaction = db.transaction('Vehicle_Inspection', 'readonly');
                var objectStore = transaction.objectStore('Vehicle_Inspection');
                var getRequest = objectStore.getAll();
  
                getRequest.onsuccess = function(event) {
                    var data = event.target.result;
                    data.forEach(function(item) {
                        // Perform your data transfer logic here
                    });
                    alert('Data has been successfully submitted and saved!');
                    modal.style.display = 'none';
                };
            };
  
            request.onerror = function(event) {
                console.error('Error opening IndexedDB', event);
            };
        }
    });
  </script>
  
   
  <div id="formModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="form1" style="
            background-color: #e4e4e4;
            margin: 1px auto;
            font-family: Raleway;
            padding: 10px;
            width: 95%;
            min-width: 300px;
            border-radius: 10px;
            box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
            overflow: auto;">
            <div class="card">
                <div class="card-body">
                    <center>
                        <h5>Vehicle Inspection Log</h5>
                    </center>
                    {% csrf_token %}
                    <table id="vertical-1" class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Provider</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.Provider }}</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Vehicle Number</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.Vehicle_number }}</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Driver Name</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.Driver_name }}</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Driver has Valid License</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.liscense_check }}</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Vehicle is Insured</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.insurance_check }}</th>
                            </tr>
                            <tr>
                                <th colspan="4" class="main-header" style="text-align:center;">General Condition of Vehicle</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Cleaning Status</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.Clean_check }}</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Oil Spill</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.Oil_Spill }}</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Tyres fit for use (not smooth)</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.Tyres_fit }}</th>
                            </tr>
                            <tr>
                                <th colspan="4" class="main-header" style="text-align:center;">Condition of Vehicle Tray</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Residue of Previous Cargo</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.Resisdue_prev_Cargo }}</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Presence of debris/extraneous matter</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.Presence_of_Debris }}</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Tarpaulin present</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.Tarpaulin_present }}</th>
                            </tr>
                            <tr>
                                <th colspan="4" class="main-header" style="text-align:center;">Security of Cargo</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Cargo Present</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.Cargo_present }}</th>
                            </tr>

                            <tr id="cargoPresentContRow" style="display: none;">
                                <th colspan="4" class="main-header" style="text-align:center;">{{ form_popups.Cargo_present_cont }}</th>
                            </tr>
    

                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Condition of Cargo</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.Condition_of_cargo }}</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Are Goods covered?</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.covered_goods }}</th>
                            </tr>
                            <tr>
                                <th colspan="4" class="main-header" style="text-align:center;">Vehicles fit for use</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Are the Vehicles fit for use?</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.vehicle_for_use }}</th>
                            </tr>
                            <tr>
                                <th colspan="4" class="main-header" style="text-align:center;">Weather Condition</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Current Weather?</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.Weather }}</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="main-header" style="text-align:center;">Comments</th>
                                <th colspan="2" class="main-header" style="text-align:center;">{{ form_popups.comments }}</th>
                            </tr>
                            <tr>
                                <th colspan="1" class="main-header" style="text-align:center;">Inspected by</th>
                                <th colspan="1" class="main-header" style="text-align:center;">{{ form_popups.inspected_by }}</th>
                                <th colspan="1" class="main-header" style="text-align:center;">Verified by</th>
                                <th colspan="1" class="main-header" style="text-align:center;">{{ form_popups.verified_by }}</th>
                            </tr>
                            <tr>
                                <th colspan="1" class="main-header" style="text-align:center;">Date</th>
                                <th colspan="1" class="main-header" style="text-align:center;">{{ form_popups.inspected_by_date }}</th>
                                <th colspan="1" class="main-header" style="text-align:center;">Date</th>
                                <th colspan="1" class="main-header" style="text-align:center;">{{ form_popups.verified_by_date }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th colspan="12"><input type="submit" name="" value="✔" class="btn btn-success btn-circle btn-xl"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
  </div>
  
  <style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
  
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 10px;
    }
  
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
  
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
  </style>
  
    
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const cargoPresentField = document.querySelector('[name="Cargo_present"]');
        const cargoPresentContRow = document.getElementById('cargoPresentContRow');

        function toggleCargoPresentCont() {
            if (cargoPresentField.value === 'Other') {
                cargoPresentContRow.style.display = 'table-row';
            } else {
                cargoPresentContRow.style.display = 'none';
            }
        }

        // Run the function on page load to check the initial value
        toggleCargoPresentCont();

        // Add an event listener to handle changes in Cargo_present
        cargoPresentField.addEventListener('change', toggleCargoPresentCont);
    });
</script>
    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          var myForm = document.getElementById('myForm');
      
          myForm.addEventListener('submit', function(event) {
    
              event.preventDefault();
              var data = new FormData(event.target);
              saveDataToIndexedDB(data);
          });
      
          function saveDataToIndexedDB(data) {
      // Exclude csrfmiddlewaretoken from being saved to IndexedDB
      data.delete('csrfmiddlewaretoken');
    
      var request = indexedDB.open('GCNA', 2);
    
      request.onsuccess = function(event) {
          var db = event.target.result;
          var transaction = db.transaction('Dispatch-Of-Dried-Nutmeg', 'readwrite');
          var objectStore = transaction.objectStore('Dispatch-Of-Dried-Nutmeg');
    
          var obj = {};
          for (var pair of data.entries()) {
              obj[pair[0]] = pair[1];
          }
    
          // Get the highest id in the object store
          var highestIdRequest = objectStore.openCursor(null, 'prev');
          highestIdRequest.onsuccess = function(event) {
              var cursor = event.target.result;
              if (cursor) {
                  obj.id = cursor.key + 1;
              } else {
                  obj.id = 1; // This is the first item
              }
    
              var request = objectStore.put(obj);
    
              request.onsuccess = function() {
                  console.log('Data added to IndexedDB');
                  transferIndexedDBData(); // Transfer data to Django after saving to IndexedDB
              };
    
              request.onerror = function() {
                  console.error('Error adding data to IndexedDB');
              };
          };
      };
    
      request.onerror = function(event) {
          console.error('Error opening IndexedDB', event);
      };
    }
          function transferIndexedDBData() {
              var request = indexedDB.open('GCNA', 2);
          
              request.onsuccess = function(event) {
                  var db = event.target.result;
                  var transaction = db.transaction('Dispatch-Of-Dried-Nutmeg', 'readonly');
                  var objectStore = transaction.objectStore('Dispatch-Of-Dried-Nutmeg');
                  var getRequest = objectStore.getAll();
          
                  getRequest.onsuccess = function(event) {
                      var data = event.target.result;
                      data.forEach(function(item) {
                          // sendDataToDjango(item);
                        });
                        clickAllButtons();
                      // window.location.reload();
  
                  };
              };
          
              request.onerror = function(event) {
                  console.error('Error opening IndexedDB', event);
              };
          }
      
          function sendDataToDjango(item) {
              var xhr = new XMLHttpRequest();
              xhr.open('POST', '/check-and-add/', true);
              xhr.setRequestHeader('Content-Type', 'application/json');
              xhr.onreadystatechange = function() {
                  if (xhr.readyState === XMLHttpRequest.DONE) {
                      if (xhr.status === 200) {
                          console.log('Entry added successfully.');
                      } else {
                          console.error('Error adding entry:', xhr.statusText);
                      }
                  }
              };
              xhr.send(JSON.stringify(item));
          }
      });
    </script>

{{ form.media }}

{% endblock %}
