{% extends 'gcna/base2.html' %}

{% block content%}



    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }


        th, td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }


        th {
/*            background-color: #f2f2f2;*/
        }


        .main-header {
            text-align: center;
            font-size: 24px;
        }


        .sub-header {
            font-size: 18px;
        }
    </style>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>





<script>
$(document).ready(function() {

  $('#Tab_Alert').hide(); 
  $('#Tab_Alert2').hide(); 

  


  $('#id_PRODUCT_DESCRIPTION').on('change', function() {
    if ($(this).val() == 'Others') {
        $('#Tab_Alert').show(); 

    } else {
        $('#Tab_Alert').hide();

    }
  
});

  $('#id_PACKAGING_MATERIAL').on('change', function() {
    if ($(this).val() == 'Other') {
        $('#Tab_Alert2').show(); 

    } else {
        $('#Tab_Alert2').hide();

    }
  
});




  $('#id_START_DRYING_DATE').on('change', function() {
    var startDate = new Date($(this).val());
    var approxEndDate = new Date(startDate.getTime() + (42 * 24 * 60 * 60 * 1000)); 

    var day = ("0" + approxEndDate.getDate()).slice(-2); 

    var month = ("0" + (approxEndDate.getMonth() + 1)).slice(-2);

    var year = approxEndDate.getFullYear();

    var formattedDate = year + "-" + month + "-" + day;

    $('#id_APPROX_END_DRYING_DATE').val(formattedDate);
      });

  $('#id_NUM_OF_BAGS').on('change', function() {
    var start =  $('#id_NUM_OF_BAGS').val();
    var calc = start * 110; 
    $('#id_TOTAL_LBS_NUTMEG_BOUGHT').val(calc);
      });


});









</script>




<!-- 

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var myForm = document.getElementById('myForm');
    
        myForm.addEventListener('submit', function(event) {
  
            event.preventDefault();
            var data = new FormData(event.target);
            saveDataToIndexedDB(data);
        });
    
        function saveDataToIndexedDB(data) {
            var request = indexedDB.open('GCNA', 2);
        
            request.onsuccess = function(event) {
                var db = event.target.result;
                var transaction = db.transaction('Package-Ciontrol', 'readwrite');
                var objectStore = transaction.objectStore('Package-Ciontrol');
        
                var obj = {};
                for (var pair of data.entries()) {
                    obj[pair[0]] = pair[1];
                }
        
                // Get the highest id in the object store
                var highestIdRequest = objectStore.openCursor(null, 'prev');
                highestIdRequest.onsuccess = function(event) {
                    var cursor = event.target.result;
                    if (cursor) {
                        obj.id = cursor.key + 1;
                    } else {
                        obj.id = 1; // This is the first item
                    }
        
                    var request = objectStore.put(obj);
        
                    request.onsuccess = function() {
                        console.log('Data added to IndexedDB');
                        window.location.href = '/gcna00_2/';
  
                    };
        
                    request.onerror = function() {
                        console.error('Error adding data to IndexedDB');
                    };
                };
            };
        
            request.onerror = function(event) {
                console.error('Error opening IndexedDB', event);
            };
        }
        
    });
    </script> -->
  
  

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var myForm = document.getElementById('myForm');
        
            myForm.addEventListener('submit', function(event) {
      
                event.preventDefault();
                var data = new FormData(event.target);
                saveDataToIndexedDB(data);
            });
        
            function saveDataToIndexedDB(data) {
        // Exclude csrfmiddlewaretoken from being saved to IndexedDB
        data.delete('csrfmiddlewaretoken');
      
        var request = indexedDB.open('GCNA', 2);
      
        request.onsuccess = function(event) {
            var db = event.target.result;
            var transaction = db.transaction('Package-Ciontrol', 'readwrite');
            var objectStore = transaction.objectStore('Package-Ciontrol');
      
            var obj = {};
            for (var pair of data.entries()) {
                obj[pair[0]] = pair[1];
            }
      
            // Get the highest id in the object store
            var highestIdRequest = objectStore.openCursor(null, 'prev');
            highestIdRequest.onsuccess = function(event) {
                var cursor = event.target.result;
                if (cursor) {
                    obj.id = cursor.key + 1;
                } else {
                    obj.id = 1; // This is the first item
                }
      
                var request = objectStore.put(obj);
      
                request.onsuccess = function() {
                    console.log('Data added to IndexedDB');
                    transferIndexedDBData(); // Transfer data to Django after saving to IndexedDB
                };
      
                request.onerror = function() {
                    console.error('Error adding data to IndexedDB');
                };
            };
        };
      
        request.onerror = function(event) {
            console.error('Error opening IndexedDB', event);
        };
      }
            function transferIndexedDBData() {
                var request = indexedDB.open('GCNA', 2);
            
                request.onsuccess = function(event) {
                    var db = event.target.result;
                    var transaction = db.transaction('Package-Ciontrol', 'readonly');
                    var objectStore = transaction.objectStore('Package-Ciontrol');
                    var getRequest = objectStore.getAll();
            
                    getRequest.onsuccess = function(event) {
                        var data = event.target.result;
                        data.forEach(function(item) {
                        // sendDataToDjango(item);
                    });
                    window.location.reload();

                    };
                };
            
                request.onerror = function(event) {
                    console.error('Error opening IndexedDB', event);
                };
            }
        
            function sendDataToDjango(item) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/check-and-add/', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            console.log('Entry added successfully.');
                        } else {
                            console.error('Error adding entry:', xhr.statusText);
                        }
                    }
                };
                xhr.send(JSON.stringify(item));
            }
        });
      </script>
      
      <script>


        var request = indexedDB.open('Signin', 1);
       
        request.onsuccess = function(event) {
            var db = event.target.result;
            var transaction = db.transaction('verify', 'readonly');
            var store = transaction.objectStore('verify');
            var getRequest = store.get(1); // Assuming you want to get the first entry
       
            getRequest.onsuccess = function(event) {
                var data = event.target.result;
                if (data) {
                    // Set the values in the form
                    document.querySelector('[name="Worker_ID_No"]').value = data.Worker_ID_No;
                    document.querySelector('[name="Worker_ID_Name"]').value = data.Name;
                }
            };
        };
       </script>
      
	<center>
<br>
	{% if submitted %}
		Entry successfully added to database!!!
	{% else %}
		<form action="" method="POST" id="myForm" style=" background-color: #e4e4e4;

    margin: 1px auto;
    font-family: Raleway;
    padding: 10px;
    width: 55%;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);">

<h6>Document No. GCNA-GMP</h6>
<h6>Document Title:  </h6>
<h6>Date Issued:  </h6>
<h6>Version:  </h6>

    <h1>Package Control Form</h1>
 
		{% csrf_token %}

        <table id="vertical-1" class="table table-hover table-light">
        <!-- <caption>First Way</caption> -->
       
{% comment %} {{ form.Nutmeg_ID_No }} {% endcomment %}

{{ form.Worker_ID_No }}
{{ form.Worker_ID_Name }}
       <tr>

            <th>Product Descriptions</th>
            <td>{{ form.PRODUCT_DESCRIPTION }}</td>
        </tr>  

<table class="table" id="Tab_Alert">
       <tr> 
            <th>Product Descriptions cont</th>
            <td>{{ form.PRODUCT_DESCRIPTION_cont }}</td>
        </tr>  

</table>

  <table>

    
        <tr>

            <th colspan="8" class="main-header">PACKAGING DATE</th>
         </tr>


        <tr>
      <th colspan="2" style="text-align:center;">Start Date</th> 
      <th colspan="2" style="text-align:center; ">{{ form.START }}</td>
      <th colspan="2" style="text-align:center;">End Date</th> 
      <th colspan="2" style="text-align:center; ">{{ form.END }}</td>

        </tr>
    </table>

        <table id="vertical-1" class="table table-hover table-light">



        <tr>
            <th>Quantity of bags</th>
            <td>{{ form.QUANTITY_OF_BAGS }}</td>
        </tr>


        <tr>
            <th>Total Weight(lbs)</th>
            <td>{{ form.TOTAL_WEIGHT_LBS }}</td>
        </tr>



        <tr>
            <th>Package Material</th>
            <td>{{ form.PACKAGING_MATERIAL }}</td>
        </tr>

<table class="table" id="Tab_Alert2">
       <tr> 
            <th>Package Material cont</th>
            <td>{{ form.PACKAGING_MATERIAL_cont }}</td>
        </tr>  

</table>

        <tr>
            <th>Batch Number</th>
            <td>{{ form.BATCH_NUMBER }}</td>
        </tr>
        <tr>
            <th>Contract Number</th>
            <td>{{ form.CONTRACT_NUMBER }}</td>
        </tr>





  <table>



        <tr>
      <th colspan="2" style="text-align:center;">Offical Lab Results</th> 
      <th colspan="2" style="text-align:center; ">{{ form.Physical_Analysis }}</td>
      <th colspan="2" style="text-align:center;">{{ form.Chemical_Analysis }}</th> 
      <th colspan="2" style="text-align:center; ">{{ form.Microbiological_Analysis }}</td>

        </tr>
    </table>

 

    </table>
	  <tr>
            <th><a href="{% url 'table' %}" class="btn btn-secondary">Return</a></th>
        </tr>

	            <th><a type="submit" href="{% url 'add_Floation_0' %}" role="button" class="btn btn-primary">Previous</a></th>

		<input type="submit" name="" value="submit" class="btn btn-success">
		


      




		</form>


        <style>
            .menu {
              display: flex;
              list-style: none;
              padding: 0;
            }
          
            .menu li {
              margin-right: 20px;
            }
          
            .dropdown {
              position: relative;
              display: inline-block;
            }
          
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 160px;
              z-index: 1;
              opacity: 0;
              transition: opacity 0.3s ease;
            }
          
            .dropdown-content.show {
              display: block;
              opacity: 1;
            }
          
            .dropdown-content .container {
              padding: 15px;
            }
          
            .dropdown button {
              cursor: pointer;
            }
        
            .entryCheck{
              display: none;
            }
          </style>
          
          <ul class="menu">
            <li class="dropdown">
              <button type="button" onclick="toggleDropdown()">Dispatched Dried Nutmeg List</button>
              <div class="dropdown-content" id="myDropdown">
                <div class="container">
                </div>
                <div id="landInfoData"></div>
              </div>
            </li>
          </ul>
        </td>
      
        </th>
      </tr>
                  <script>
                    function toggleDropdown() {
                      var dropdownContent = document.getElementById("myDropdown");
                      dropdownContent.classList.toggle("show");
                    }
                    </script>
      
      
      
      
      
      
              </form>
          <script>
            let openRequest = indexedDB.open("GCNA");
            let fieldBlacklist = [];
            const fieldBlacklistConfig = {
              DATE_OF_SAMPLING: true, // Set to true to blacklist if null or empty
              DECISION: true,
              Quantity_of_Bags: true,
              // Add more fields as needed
            };
            openRequest.onsuccess = function(event) {
        let db = event.target.result;
        let transaction = db.transaction("Quaility", "readonly");
        let landInfoStore = transaction.objectStore("Quaility");
        let getAllRequest = landInfoStore.getAll();
      
        getAllRequest.onsuccess = function(event) {
            let landInfoRecords = event.target.result;
            let landInfoDataDiv = document.getElementById("landInfoData");
      
            landInfoRecords.forEach((record) => {
                let entryContainer = document.createElement("div");
                entryContainer.id = `entryContainer_${record.id}`;
                entryContainer.classList.add("entryContainer"); // Add the class for initial hiding
                let entryCheckTd=record.id
      
                let batchCodeCheckboxes = '';
                let codes = record.BATCH_NUMBER.split(",");
                for(let i = 0; i < codes.length; i++) {
                    batchCodeCheckboxes += `<input type="checkbox" id="code${i}" name="code${i}" value="${codes[i]}" onchange="updateControlNum(this)">
                                            <label for="code${i}">${codes[i]}</label><br>`;
                }
      
      
                // let deliveryCodeCheckboxes = '';
                // let codes2 = record.Delivery_Advice_Num.split(",");
                // for(let i = 0; i < codes2.length; i++) {
                //     deliveryCodeCheckboxes += `<input type="checkbox" id="codes2${i}" name="codes2${i}" value="${codes2[i]}" onchange="updateControlNum2(this)">
                //                             <label for="codes2${i}">${codes2[i]}</label><br>`;
                // }
                let dropdownContent = `
                <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_${record.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Entry: ${record.id}      
                </button>
                <input type="hidden" id="valueChange_${record.BATCH_NUMBER}">
                <button type="hidden" style="display:none;" class="add-row" onclick="fill_table()"></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_${record.id}">
      
      
                    
                    <form>
                        <table class="table table-hover table-light">
    

        <tr>
            <td  colspan="2" style="text-align:center; width: 100px">DATE </td>
            <td  colspan="2"  style="text-align:center; width: 100px">${record.DATE_1 }</td>
            <td  colspan="2"  style="text-align:center; width: 100px">STATION</td>
            <td  colspan="2"  style="text-align:center; width: 100px">${record.STATION }</td>
        </tr>

        <tr>
            <td  colspan="4" style="text-align:center; width: 100px">BATCH/WAREHOUSE RECEIPT NUMBER </td>
            <td  colspan="4"  style="text-align:center; width: 100px">${batchCodeCheckboxes }</td>
        </tr>





      
      
                      
      
      
                        </table>
                    </form>
                </div>
            </div>`;
            entryContainer.innerHTML = dropdownContent;
      
      
                        landInfoDataDiv.appendChild(entryContainer);
                        let setButton = entryContainer.querySelector(`#valueChange_${record.Control_number}`);
        
                        setButton.addEventListener('click', function() {
            // Create a div container for the form
            let formContainer = document.createElement('div');
            formContainer.classList.add('form-container');
        
            // Create the table element
            let table = document.createElement('table');
        
            // Create table header
            let thead = document.createElement('thead');
            let headerRow = document.createElement('tr');
            let shelfHeader = document.createElement('th');
            shelfHeader.textContent = 'Shelf';
            let trayHeader = document.createElement('th');
            trayHeader.textContent = 'Tray';
            let sectionHeader = document.createElement('th');
            sectionHeader.textContent = 'Section';
            let stationHeader = document.createElement('th');
            stationHeader.textContent = 'Station';
            headerRow.appendChild(shelfHeader);
            headerRow.appendChild(trayHeader);
            headerRow.appendChild(sectionHeader);
            headerRow.appendChild(stationHeader);
            thead.appendChild(headerRow);
            table.appendChild(thead);
        
            // Create table body
            let tbody = document.createElement('tbody');
            let dataRow = document.createElement('tr');
        
            let createCell = (fieldName, recordField) => {
            let value = record[recordField];
            if (value !== undefined && value.trim() !== '') {
                let cell = document.createElement('td');
                let input = document.createElement('input');
                input.type = 'text';
                input.name = fieldName;
                input.value = value;
                cell.appendChild(input);
                return cell;
            }
            return null;
        };
        let createInputFields = (prefix) => {
            let shelfCell = createCell(`${prefix}Shelf`, `Shelf${prefix}`);
            let trayCell = createCell(`${prefix}Tray`, `Tray${prefix}`);
            let sectionCell = createCell(`${prefix}Section`, `Section${prefix}`);
            let stationCell = createCell(`STATION`, `STATION`);
            let moistureCell = createCell(`${prefix}`, `${prefix}`); // New line for moisture field
        
            if (shelfCell && trayCell && sectionCell && stationCell ) {
                dataRow.appendChild(shelfCell);
                dataRow.appendChild(trayCell);
                dataRow.appendChild(sectionCell);
                dataRow.appendChild(stationCell);
                if(moistureCell){dataRow.appendChild();}else{console.log('Can not find it')}
                // Append the moisture cell if it exists
            }
        };
        
        // Call the function to create input fields for each set of drying fields
        createInputFields('STATION');
        createInputFields('G_0_GF');
        createInputFields('G_0_1F');
        createInputFields('G_0_2F');
        createInputFields('G_0_FL');
        createInputFields('H_0_GF');
        createInputFields('H_0_1F');
        createInputFields('H_0_2F');
        createInputFields('H_0_FL');
        createInputFields('M_0_GF');
        createInputFields('M_0_1F');
        createInputFields('M_0_2F');
        createInputFields('M_0_FL');
        createInputFields('U_0_GF');
        createInputFields('U_0_1F');
        createInputFields('U_0_2F');
        createInputFields('U_0_FL');
        createInputFields('GP_0_GF');
        createInputFields('GP_0_1F');
        createInputFields('GP_0_2F');
        createInputFields('GP_0_FL');
        
        // Call the function to create input fields for each moisture field
        createInputFields('MoistureG_GF');
        createInputFields('MoistureG_1F');
        createInputFields('MoistureG_2F');
        createInputFields('MoistureG_FL');
        createInputFields('MoistureH_GF');
        createInputFields('MoistureH_1F');
        createInputFields('MoistureH_2F');
        createInputFields('MoistureH_FL');
        createInputFields('MoistureM_GF');
        createInputFields('MoistureM_1F');
        createInputFields('MoistureM_2F');
        createInputFields('MoistureM_FL');
        createInputFields('MoistureU_GF');
        createInputFields('MoistureU_1F');
        createInputFields('MoistureU_2F');
        createInputFields('MoistureU_FL');
        createInputFields('MoistureGP_GF');
        createInputFields('MoistureGP_1F');
        createInputFields('MoistureGP_2F');
        createInputFields('MoistureGP_FL');
        
        
            if (dataRow.children.length > 0) {
                tbody.appendChild(dataRow);
                table.appendChild(tbody);
        
                // Append the table to the form container
                formContainer.appendChild(table);
        
                // Append the form container to the div with id "FormStore"
                document.getElementById('FormStore').appendChild(formContainer);
            }
        });
        
        
        
        
        
        
        
        
                    });
                };
            };
        </script>
        
        <script>
            
      function updateControlNum(checkbox) {
        let controlNumField = document.querySelector('[name="BATCH_NUMBER"]');
        let currentValues = controlNumField.value ? controlNumField.value.split(',') : [];
        if (checkbox.checked) {
            // Add the checkbox's value to the field
            currentValues.push(checkbox.value);
        } else {
            // Remove the checkbox's value from the field
            currentValues = currentValues.filter(value => value !== checkbox.value);
        }
        if(controlNumField.value ==""){
            controlNumField.value = currentValues;
      
        }else{
            controlNumField.value = currentValues.join(',');
      
        }
      }
      

</script>

	{% endif %}

	</center>
{{ form.media }}

{% endblock %}
